%base-text {
	font-family: Helvetica, Arial, sans-serif;
	font-size:18px;
	line-height: 150%;
}

h1 {
	@extend %base-text;
	font-weight: 500;
	text-shadow: 2px 2px 5px #000;
	font-size: 30px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 150%;
	text-shadow: 2px 2px 5px #000;
}

h2 {
	@extend h1;
}

h3 {
	@extend %base-text;
	font-size: 13px;
	letter-spacing: 2px;
	margin-bottom: 8px;
}

.locations p {
	font-size: 13px;
	letter-spacing: 1px;
}