body, h1, h2, h3, h4, p, ul, li {
	margin: 0;
}

@import 'partials/colors';
@import 'partials/typography';

html, body{
  height:100%; //Allows for full-screen backgrounds
}

* {
	box-sizing: border-box;
}

body {
	color: #fff;
}

//////////  Layout Styles

.background-container {
	background-image: url('../img/2422.jpg');
	background-size: cover;
	background-position: center center;
	height: 100%;
}

.left-container {
	width: 60%;
	float: left;
	height: 100%;

	padding: 0 90px;
	background-color: rgba(0, 0, 0, .7);
}

.right-container {
	width: 40%;
	float: left;
	height: 100%;

	padding: 0 50px;
	background-color: rgba(0, 115, 158, .6);

	text-align: center;
}

.text-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.form-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


#logo {
	font-weight: 100;
	font-size: 50px;
	margin-bottom: 20px;
	color: $brand-orange;
	text-shadow: 2px 2px 5px #000;
}

.locations {
	padding: 30px 0;
}

.penn {
	width:50%;
	float: left;
}


///////// Form Styles

input {
	width: 300px;
	margin: 15px auto;
	padding: 15px;
	border: none;
	display:block;
	border-radius: 5px;
}

select {
	@extend input;
	height: 44px;
}

///////// Button Styles

%btn {
	width: 300px;
	padding: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	
}

.btn-submit {
	@extend %btn;
	background-color: $brand-orange;
	color: #fff;
}